.container {
    height: 200px;
    width: 100%;
    background-color: rgb(37,37,37);
    border-radius: 14px;
    padding: 10px 0px;
    display: flex;
    justify-content: space-evenly;
    color: white;
  }
  .noData{
    color: rgb(232, 194, 194);
  }
  .left{
    height: 100%;
    margin-left: -30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .center{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .center p {
    color: rgb(205, 205, 205);
  }
  .center p span{
    color: white;
    font-weight: bold;
  }
  .right{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .right p {
    color: rgb(205, 205, 205);
  }
  .right p span{
    color: white;
    font-weight: bold;
  }

  .left h1{
    font-size: 50px;
    margin: 0;
  }

  .left p {
    font-size: 40px;
    margin: 0;
    margin-top: -20px;
  }
